/* GENERAL STYLING*/
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    color: white;
}

/* NAVIGATION BAR STYLING*/
.nav{
    height: 2vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    background-color: black;
    position: sticky;
}
.left-part{
    display: flex;
}
.logo{ 
    color: grey;
    display: flex;
    align-items: center;
    font-size: 25px;
}
.logo:hover{
    color: green;
}

.center-part{
    display: flex;
    align-items: center;
    gap: 4px;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 37, 37);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: grey;
    font-size: 24px;
    
}
.home:hover{
    color: green;
    transform: translate(0.2);
}
.input-box{
    height: 45px;
    width: 25rem;
    display: flex;
    align-items: center;
    padding-left: 47px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: rgb(37, 37, 37);
    color: white;
    
}
.search-icon{
    position: relative;
    color: grey;
    transform:translate(45px);
}
.search-icon:hover{
    color: white;
}
.folder{
    display: flex;
    align-items: center;
    color: grey;
    transform:translate(-50px);
    border-left: 2px solid grey;
    padding: 6px;
    height: 6px;
    position: relative;
}
.folder:hover{
    color: white;
}


.right-part{
    display: flex;
    gap: 8px;
    font-weight: 600;
    color: grey;
    cursor: pointer;
}
.nav-list:hover{
    color: green;
}
.install:hover{
    color: green;
}
.signup:hover{
    color: green;
}
.login{
    font-weight: 600;
    background-color: grey;
    border-radius: 8px;
    width: 3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.login:hover{
    color: white;
    background-color: green;
}
.main{
    display: flex;
}

/* LIBRARY PART*/
.library-section{
    height: 85vh;
    width: 20vw;
    background-color: rgb(37, 37, 37);
    margin: 4px;
}
.library-btns{
    display: flex;
    justify-content: space-between;
}
.library-title{
    padding: 8px;
}
.createandmax{
    display: flex;
    padding: 8px;
    gap: 3rem;
}
.library-search-btns{
    display: flex;
    justify-content: space-between;
}
.library-create-btn{
    background-color: grey;
    width: 5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: 600;
}
.library-create-btn:hover{
    cursor: pointer;
    color: white;
    background-color: green;
}
.library-maximise-btn{
    color: grey;
    cursor: pointer;
}
.library-maximise-btn:hover{
    color: green;
}
.library-title{
    color: grey;
}
.library-search{
    color: grey;
    padding: 4px;
}
.library-recents{
    padding: 4px;
    font-weight: 600;
}
.liked-songs img{
    width: 4rem;
    height: 4rem;
}

/* ARTIST PART*/
.artist-section{
    height: 85vh;
    width: 80vw;
}
.artist-section img{
    width: 79vw;
    height: 85vh;
    object-fit: cover;
    position: relative;
}
.artist-title{
    color: white;
    font-weight: 600;
    font-size: 3rem;
    transform:translate(20px, -650px);
}
.artist-description{
    font-size: 0.8rem;
    font-weight: 600;
    transform:translate(20px, -650px);
}
.artist-subdescription{
    padding-top: 4px;
     font-weight: 600;
    font-size: 0.7rem;
    transform:translate(20px, -650px);
}
.music-section{
    width: 79vw;
    height: 24.6vw;
    position: relative;
    transform:translate(0px, -550px);
    background-image: linear-gradient(rgb(1, 51, 66), black 40%);


}

/* MEDIA PLAYER PART*/
.media-player-section{
    position: fixed;
    height: 15vh;
    width: 99vw;
}
.artist-title{
    color: white;
}
