/* GENERAL STYLING*/
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    color: white;
}

/* NAVIGATION BAR STYLING*/
.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    background-color: black;
}
.left-part{
    display: flex;
}
.center-part{
    display: flex;
}
.right-part{
    display: flex;
}
.main{
    display: flex;
}

/* LIBRARY PART*/
.library-section{
    height: 85vh;
    width: 20vw;
    background-image: linear-gradient(rgb(1, 51, 66), black 70%);
    margin: 4px;
}
.library-btns{
    display: flex;
    justify-content: space-between;
}
.createandmax{
    display: flex;
}
.library-search-btns{
    display: flex;
    justify-content: space-between;
}

/* ARTIST PART*/
.artist-section{
    height: 85vh;
    width: 80vw;
}
.artist-section img{
    width: 79vw;
    height: 85vh;
    object-fit: cover;
    position: relative;
}
.artist-title{
    color: white;
    font-weight: 600;
    font-size: 3rem;
    transform:translate(20px, -650px);
}
.artist-description{
    font-size: 0.8rem;
    font-weight: 600;
    transform:translate(20px, -650px);
}
.artist-subdescription{
    padding-top: 4px;
     font-weight: 600;
    font-size: 0.7rem;
    transform:translate(20px, -650px);
}
.music-section{
    width: 79vw;
    height: 24.6vw;
    position: relative;
    transform:translate(0px, -550px);
    background-image: linear-gradient(rgb(1, 51, 66), black 40%);


}

/* MEDIA PLAYER PART*/
.media-player-section{
    position: fixed;
    height: 15vh;
    width: 99vw;
}
.artist-title{
    color: white;
}
